#home-logo{
    height: 76px;
    width: 150px;
}
.bgColor{
    background-color: white;
    color: #000;
    
}
.table td.email {
    max-width: 200px; /* Change this value as needed */
    word-wrap: break-word;
  }
*{
    padding: 0;
    margin: 0;
}
body{
    margin: auto;
    width: 100%;
    
}
.whole-cv{
    padding: 20px 5px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
}
h3{
    font-size: 1.3em;
}
h5{
    font-size: 1em;
    background-color: antiquewhite;
    padding: 20px 10px !important;
}
h6{
    font-weight: 400;
    color: blue;
}
.sub-carrier p span{
    font-weight:bold
}
.sub-carrier p span:last-child{
    font-style: italic;
    font-weight: 400;
    text-decoration: none;
}
.sub-carrier p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
}
table tr:hover td{
    font-weight: 500;
    transition: 0.2s;
    border-right: 2px solid grey;
}
.university{

}
  @media screen and (width > 800px) {
    body{
        width: 70%;
    }
  }
/* navbar styles */
.navbar-brand img{
    height: 60px;
    width: auto;
    
}
.navbar-brand img+code{
    font-size: 14px;
    color: #ff8c00;

}
.navbar-nav li:hover{
    background-color: #ffe4c4;
}
/* .navbar-toggler-icon{background-color: #ff8c00} */
.nav-item .nav-link{
    white-space: nowrap;
}
li a:active{
    background-color: #ffe4c4 !important;
}