*{
    padding: 0;
    margin: 0;
}
a{text-decoration: none;}
li{list-style-type: none; white-space: nowrap;}
.footer a , .footer p{color: #c8c8c8}
body{
    margin: auto;
    width: 100% !important; 
    font-family: Arial, Helvetica, sans-serif;
    /* user-select: none; */
}
#home-logo{
    height: 76px;
    width: 150px;
}
.bgColor{
    background-color: #fff;
    color: #000;
}
.table td.email {
    max-width: 200px;
    word-wrap: break-word;
  }

.whole-cv{
    padding: 20px 5px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    margin-top: 80px;
}
h3{
    font-size: 1.3em;
}
h5{
    font-size: 1em;
    background-color: antiquewhite;
    padding: 20px 10px !important;
}
h6{
    font-weight: 400;
    color: blue;
}
.sub-carrier p span{
    font-weight:bold
}
.sub-carrier p span:last-child{
    font-style: italic;
    font-weight: 400;
    text-decoration: none;
}
.sub-carrier p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
}
table tr:hover td{
    font-weight: 500;
    transition: 0.2s;
    border-right: 2px solid grey;
}
marquee{
    color: #ff8c00;
    font-weight: 600;
}
/* navbar styles */
.navbar-brand img{
    height: 60px;
    width: auto;
}
.navbar-brand img+code{
    font-size: 14px;
    color: #ff8c00;
}
.navbar-nav li a:hover{
    background-color: #ffe4c4;
    color: #000 !important;
}
/* .navbar-toggler-icon{background-color: #ff8c00} */
.nav-item .nav-link{
    white-space: nowrap;
}

.authbtns{
    position: absolute;
    top: 0;
    right: 0;
}

#welcome span:nth-child(1), #welcome span:nth-child(2){
    font-family: 'Chela One', cursive;
    font-family: 'Chewy', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Sriracha', cursive;
    font-weight: 500;
   
}
h2#intro span:first-child, h3#intro span:first-child{
    font-family: 'Chela One', cursive;
    font-family: 'Chewy', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Sriracha', cursive;
    color: #ff8c00;
    font-weight: 400;
}
code{color: #ff8c00;font-weight: 400;}

#welcome span:nth-child(3){color: #00c3ff}
.welcome-section{
    color: #fff;
    padding-top: 70px;
    width: 100%;
    z-index: -1;
    position: sticky;
    top: 0;
    background-color: #000;
    background-image: url(../../images/bg.jpg);
    background-size: cover;
    background-position: right 80%;
    position: relative;
    z-index: 1;
}
.welcome-section::before{
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.1));
    width: 100%;
    top: 0;
    height: 100%;
    z-index: -1;
}
.intro-image{
    position: relative;
    height: 170px;
}
.intro-div{
    bottom: 0;
}
.my-image{
    width: 170px;
    height: 170px;
    position: absolute;
    top: 0;
}
.welcome-section h1{
    font-weight: 900;
    color: white;
    z-index: 5;
}
#footer-header{
    font-family: 'Chela One', cursive;
    font-family: 'Chewy', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Sriracha', cursive;
    font-weight: 500;
    font-size: 1.6em;
}
.footer{z-index: 999;}
#side-bar{
    height: 100vh !important; margin-top:70px; width: 260px;
    top: 0;
    left: 0;
    background: url('../../images/myBg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: fixed;
    z-index: 1;

}

#side-bar.inactive{
    left: -100%; transition:0.5s;
}

.close-btn{
    position: absolute;
    color: #fff;
    font-size: 20px;
    right: 0;
    cursor: pointer;
    margin: 20px;
    
}
.open-btn{
    background-color: #00c3ff;
    color: #fff;
    font-size: 20px;
}
.open-btn i{
    cursor: pointer;
    font-size: 20px;
    margin: 5px 20px;
}
.main-content{
    margin-top: 70px;
    min-height: calc(75vh);
}

#sticky-div {
    /* Initial styles */
  }
  
  #sticky-div.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    /* Additional styles for appearance */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }













  

/* My responsive section */
@media screen and (width > 800px) {
    body{
        width: 70%;
    }
  }
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 350px) {
    .welcome-section{height: 65vh;}
    .my-image{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
    }
    .intro-image{
        position: relative;height: 100px;
    }
    .intro-div{width: 100%;}

    h1{font-size: 25px;}

    h3#intro{padding: 0;margin: 0;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .welcome-section{height: 60vh;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .welcome-section{height: 60vh;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .welcome-section{height: 60vh;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .welcome-section{height: 65vh;}
}
