*{
    padding: 0;
    margin: 0;
}
body{
    margin: auto;
    width: 100% !important; 
    font-family: Arial, Helvetica, sans-serif;
}
#home-logo{
    height: 76px;
    width: 150px;
}
.bgColor{
    background-color: white;
    color: #000;
}
.table td.email {
    max-width: 200px; /* Change this value as needed */
    word-wrap: break-word;
  }
.whole-cv{
    padding: 20px 5px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
}
h3{
    font-size: 1.3em;
}
h5{
    font-size: 1em;
    background-color: antiquewhite;
    padding: 20px 10px !important;
}
h6{
    font-weight: 400;
    color: blue;
}
.sub-carrier p span{
    font-weight:bold
}
.sub-carrier p span:last-child{
    font-style: italic;
    font-weight: 400;
    text-decoration: none;
}
.sub-carrier p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
}
table tr:hover td{
    font-weight: 500;
    transition: 0.2s;
    border-right: 2px solid grey;
}
marquee{
    color: #ff8c00;
    font-weight: 600;
}
/* navbar styles */
.navbar-brand img{
    height: 60px;
    width: auto;
}
.navbar-brand img+code{
    font-size: 14px;
    color: #ff8c00;
}
.navbar-nav li:hover{
    background-color: #ffe4c4;
}
/* .navbar-toggler-icon{background-color: #ff8c00} */
.nav-item .nav-link{
    white-space: nowrap;
}
li a:active{
    background-color: #ffe4c4 !important;
}
.authbtns{
    position: absolute;
    top: 0;
    right: 0;
}
#welcome span:first-child{
    font-family: 'Chewy', cursive;
}
.welcome-section{
    color: #fff;
    padding-top: 70px;
    width: 100%;
    z-index: -1;
    position: sticky;
    top: 0;
    background-color: #000;
}
.my-image{
    width: 170px;
    height: 170px;
}
.welcome-section h1{
    font-weight: 900;
    color: white;
}
/* My responsive section */
@media screen and (width > 800px) {
    body{
        width: 70%;
    }
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .welcome-section{height: 50vh;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .welcome-section{height: 50vh;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .welcome-section{height: 40vh;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .welcome-section{height: 65vh;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .welcome-section{height: 70vh;}
}